/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$text-color: #444444;
$subtitle-color: #a3a3a3;
$highlight-color: #f56e73;
$subtle-line-color: #e5e5e5;
$content-color: #747171;
$code-background: #efefef;

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

html, body {
    height: 100%;
    background-color: white;
}

body {
    font: 13px Helvetica, Arial, sans-serif;
    font-size: 100%;
    text-align: center;
    width: 100%;
    color: $text-color;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 0;
}

a {
    color: $text-color;
    text-decoration: none;
}

a:hover {
    color: $highlight-color;
}

a:visited {
    color: $text-color;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

#header {
    margin-top: 5%;
    #header-content {
        width: 100%;
        padding: 0 50px 0 50px;
        h1 {
            font-size: 5em;
        }
        h2 {
            font-size: 2em;
            color: $highlight-color;
        }
        @media screen and (max-width: 950px) {
            font-size: 0.8em;
        }
        @media screen and (max-width: 760px) {
            padding: 0px;
        }
        @media screen and (max-width: 520px) {
            font-size: 0.5em;
        }
    }
    .menu {
        margin-top: 50px;
        font-size: 1.8em;
        @media screen and (max-width: 950px) {
            margin-top: 20px;
        }
        li {
            display: inline;
            width: 100px;
            padding: 0 10px 0 10px;
            border-right: 1px solid $subtitle-color;
        }
        ul li:last-child {
            border: none;
        }
        a {
            color: $subtitle-color;
        }
        a:hover,
        a:active {
            color: $highlight-color;
        }
    }
}

/*****************************************************************************/
/*
/* Post-list
/*
/*****************************************************************************/

.blog {
    .post-list {
        padding: 40px 0 80px 0;
        font-size: 1.5em;
        width: 750px;
        margin: 0 auto;
        @media screen and (max-width: 850px) {
            width: 90%;
        }
        li {
            text-align: left;
            padding: 30px 0;
            display: block;
            border-bottom: 1px solid $subtle-line-color;
            a {
                color: $highlight-color;
                float: left;
            }
            p {
                float: right;
                color: $subtitle-color;
            }
            @media screen and (max-width: 700px) {
                text-align: center;
                a {
                    float: none;
                }
                p {
                    display: none;
                }
            }
        }
    }
}

/*****************************************************************************/
/*
/* Post page
/*
/*****************************************************************************/

.blog-post {
    .post {
        font-size: 1.5em;
        width: 700px;
        text-align: left;
        margin: 0 auto;
        @media screen and (max-width: 850px) {
            width: 500px;
            font-size: 1.4em;
        }
        @media screen and (max-width: 530px) {
            width: 300px;
        }
        h2 {
            color: $highlight-color;
            font-size: 2em;
            margin: 50px 0 10px 0;
        }
        .meta {
            color: $subtitle-color;
            text-align: left;
            margin-bottom: 40px;
            font-size: 0.8em;
        }
        .post-content {
            text-align: left;
            line-height: 1.3em;
            color: $content-color;
            font-weight: light;
            display: block;
            p {
                margin-bottom: 15px;
                font-size: 0.85em;
                strong {
                    font-weight: bold;
                }
            }
            ol {
                list-style-type: decimal-leading-zero;
                padding-left: 45px;
                margin-bottom: 30px;
                border-left: 4px solid $highlight-color;
                font-size: 0.7em;
            }
            h1 {
                color: $highlight-color;
                font-size: 1.1em;
                margin-bottom: 10px;
                margin-top: 40px;
            }
            pre {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 20px;
                line-height: 1.4em;
            }
            a {
                color: $content-color;
                text-decoration: underline;
            }
            blockquote {
                padding-left: 10px;
                border-left: 3px solid $highlight-color;
                color: $subtitle-color;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            em {
                font-family: "nimbus-sans",sans-serif;
                font-style: italic;
                font-weight: 400;
            }
            code {
                font-size: 1rem;
                //background-color: $code-background;
                padding: 0.2rem;
            }
            i {
                font-style: italic;
            }
            ul {
                margin-left: 30px;
                display: block;
                li {
                    list-style-type: disc;
                    font-size: 1.3rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
        .post-footer {
            border-top: 1px solid $subtle-line-color;
            padding: 30px 0 60px 0;
            font-size: 1.3em;
            margin: 50px 0;
            span {
                vertical-align: top;
                display: inline-block;
                h3 {
                    color: $highlight-color;
                    margin-bottom: 15px;
                }
            }
            .related-links {
                width: 65%;
                @media screen and (max-width: 860px) {
                    width: 100%;
                    text-align: center;
                }
            }
            .social-links {
                width: 34%;
                text-align: center;
                border-left: 1px solid $subtle-line-color;
                @media screen and (max-width: 860px) {
                    width: 100%;
                    border: 0;
                    border-top: 1px solid $subtle-line-color;
                    text-align: center;
                    margin-top: 30px;
                    padding-top: 30px;
                }
                .tweet-link {
                    display: block;
                    height: 70px;
                    width: 70px;
                    background-size: 70px 70px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 30px auto;
                    background-image: url("/img/twitter_active.png");
                }
            }
            ul {
                li {
                    font-size: 0.65em;
                    margin: 10px 0 0 0;
                    a {
                        color: $content-color;
                        text-decoration: underline;
                    }
                    a:visited {
                        color: $content-color;
                    }
                    a:hover {
                        color: $highlight-color;
                    }
                }
            }
        }
    }
}

/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/

.right-image {
    img {
        float: right;
        height: 300px;
        margin: 20px 0px 20px 20px;
    }
}

.left-image {
    img {
        float: left;
        height: 300px;
        margin: 20px 20px 20px 0px;
    }
}

.full-width-image {
    width: 100%;
    margin: 20px 0 20px 0;
    img {
        width: 100%;
        margin: 20px 0 20px 0;
    }
}